{% extends 'base.html' %}

{% block body %}
    <div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<div class="section text-center">
							<h4 class="mb-4">File Transfer Software</h4>
							<h4 class = "mb-4">500 Internal Server Error</h4>
							<h3>IP {{ ip }} is not on the network. Request the admin to check the logs for more detailed information</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}