{% extends 'base.html' %}

{% block body %}
    <div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<span class="mb-0 pb-3"> <br> </br> </span>
			          	<input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
			          	<label for="reg-log"></label>
						<div class="card-3d-wrap">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Network File Transfer Software</h4>
											<form method="POST" action = "{% url 'index' %}" enctype = "multipart/form-data">

												{% csrf_token %}

												<div class="form-group">
													<input type="text" name="ReceiverIP" class="form-style" placeholder="ReceiverIP"  autocomplete="off" required>
												</div>	
												
												<div class="form-group mt-3">
													<input type="file" name="fileupload" class="form-style" accept="*/*" required>
													{% comment %} <i class="input-icon uil uil-at"></i> {% endcomment %}
												</div>	
												
												<button type = "submit" <a href="#" class="sub_btn btn mt-4">Send</a></button>
												<a href = "{% url 'refresh' %}"> <button class = "btn mt-4 refresh_button"> Refresh </a> </button>

												{% if error %}
													<div class="alert alert-danger" role="alert">
														{{ error }}
													</div>
												{% endif %}
												
											</form>
										</div>
			      					</div>
			      				</div>
								<div class="card-back">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Notifications</h4>
											<div class = "notifications_container">
												<ul class = "notifications">
													{% for file_unit in download_files %}
														<li class = "notification"> <a class = "link_notification" href = "{% url 'download_file' file_unit %}" target = "_blank"> {{ file_unit }} </a></li>
													{% endfor %}
												</ul>
											</div>
										</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
{% endblock %}